.content{
    width: 740px;
    margin: 0 auto;

}

.container_task{
    justify-content: center;
    display: flex;
    font-family: Roboto, serif;
    flex-direction: column;
}

.date{
    width: 740px;
    height: 126px;
    display: flex;
    margin: auto 0;
}

.today{
    font-size: 36px;
    font-family: "Roboto Thin", serif;
    color: #341f7f;
    margin: auto 0;

}

.week{
    font-size: 40px;
    color: #B9B9B9;
    font-weight: bolder;
    font-family: 'Roboto', serif;
    margin: auto 10px;
}

.month{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin: auto 10px;
}
