.content{
    width: 740px;
    margin: 0 auto;

}

.container_task{
    justify-content: center;
    display: flex;
    font-family: Roboto, serif;
    flex-direction: column;
}

.textarea {
    border: 0;
    min-height: 60px;
    min-width: 740px;
}

.img_add_task {
    width: 36px;
    height: 36px;
    margin: -3px -3px;
}

.btn_add_task {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: rgba(217, 217, 217, 1);
    margin: 18px 350px;
    border-radius: 20px;
    box-shadow: 0 7px 11px -14px #000000;
}