.container{
    width: 740px;
    min-height: 60px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 7px 11px -14px #000000;
    margin: 8px auto;
    display: flex;
}

.scroll{
    width: 10px;
    min-height: 40px;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin: 10px 12px;
    flex-direction: row;
    border: 0;
}

.done{
    width: 36px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #942BD4;
    background-color: white;
    margin: auto 8px;
}

.text{
    width: 500px;
    font-size: 16px;
    font-family: Roboto, serif;
    margin: auto 10px;
    word-wrap: break-word;
    padding: 10px 0;
}

.edit{
    border: 0;
    background-color: white;
    margin: auto 7px;
    flex-direction: row-reverse;
}

.btn_more{
    border: 0;
    background-color: white;
    flex-direction: row-reverse;
    margin: auto 7px;
}
